In [90]:
import pandas as pd
import numpy as np

In [91]:
columns = [i for i in range(3)]

In [92]:
input_1 = "input_1_db_1.txt"
input_2 = "input_1_db_2.txt"

data_1 = pd.read_csv(input_1, header=None)
data_2 = pd.read_csv(input_2, header=None)

In [93]:
data_1

       0        1        2
0   57.0  -7.4703  -0.3561
1   81.0  -4.6478   7.9474
2   69.0  -8.3768   0.4391
3   18.0  -4.9377   9.9903
4   62.0  -5.8751  -6.6054
..   ...      ...      ...
95  14.0  -4.8509   8.4615
96  20.0  -4.9018   9.7526
97  88.0  -5.8336  11.5752
98  11.0 -10.3773  -0.8476
99  70.0  -9.1811   1.6406

[100 rows x 3 columns]

In [94]:
data_2

       0       1        2
0    4.0  6.0736   9.6840
1   17.0  6.5296  -9.2236
2   72.0 -7.1325  -1.9674
3    8.0  7.9425  -8.0293
4   12.0  7.7597  -9.3911
..   ...     ...      ...
95  46.0  6.0180   9.4736
96  80.0 -9.2625  -1.9572
97  94.0  8.2099  -7.5596
98  99.0  4.7219  12.3050
99  66.0 -9.2217  -2.9465

[100 rows x 3 columns]

In [95]:
data = pd.merge(data_1, data_2, on=0)
data

       0      1_x      2_x     1_y      2_y
0   57.0  -7.4703  -0.3561 -8.4965  -0.3358
1   81.0  -4.6478   7.9474  5.1700  10.9990
2   69.0  -8.3768   0.4391 -9.8570  -1.6089
3   18.0  -4.9377   9.9903  5.1640  10.5001
4   62.0  -5.8751  -6.6054  7.0999  -8.5866
..   ...      ...      ...     ...      ...
95  14.0  -4.8509   8.4615  4.4712  11.2719
96  20.0  -4.9018   9.7526  6.0428   7.6077
97  88.0  -5.8336  11.5752  5.6366   9.9946
98  11.0 -10.3773  -0.8476 -5.1332  -1.5591
99  70.0  -9.1811   1.6406 -9.4409  -1.3887

[100 rows x 5 columns]

In [96]:
d = len(data.columns) - 1

In [97]:
N, d = data.shape
print(N)
print(d)

100
5

In [119]:
i = np.random.randint(10)
i

0

In [129]:
data.loc[0].tolist()[1:]

[-7.4703, -0.3561, -8.4965, -0.3358]

In [137]:
vec1 = data.loc[0].tolist()[1:]
vec2 = data.loc[1].tolist()[1:]

sum(vec1)

-16.658699999999996

In [164]:
np.random.choice(5, p = [0.2, 0.4, 0, 0.2, 0.2])

4

In [169]:
data.values.tolist()

[[57.0, -7.4703, -0.3561, -8.4965, -0.3358],
 [81.0, -4.6478, 7.9474, 5.17, 10.999],
 [69.0, -8.3768, 0.4391, -9.857, -1.6089],
 [18.0, -4.9377, 9.9903, 5.164, 10.5001],
 [62.0, -5.8751, -6.6054, 7.0999, -8.5866],
 [76.0, -8.7503, 2.2862, -7.416, -3.3666],
 [82.0, -5.056, 11.0115, 4.7007, 9.6514],
 [45.0, -5.7191, -7.6118, 10.1312, -8.3614],
 [64.0, -7.1986, 2.3764, -9.4223, -3.6486],
 [80.0, -8.7949, -0.0633, -9.2625, -1.9572],
 [35.0, -6.6498, -6.5922, 7.1399, -8.7644],
 [51.0, -5.4577, -7.391, 7.0248, -6.9181],
 [37.0, -7.8547, 0.8797, -8.244, -2.3705],
 [86.0, -5.3702, -9.2316, 8.0822, -6.8847],
 [74.0, -4.9542, 10.7517, 4.9588, 9.2168],
 [3.0, -4.8675, 8.9291, 5.0865, 9.5871],
 [56.0, -3.2764, 7.6329, 4.8407, 9.3006],
 [29.0, -7.2297, 1.2443, -7.1867, -3.2449],
 [61.0, -10.2582, -1.6944, -6.2528, -2.5893],
 [53.0, -3.8923, 9.7311, 3.9796, 7.9065],
 [46.0, -5.0458, 9.2021, 6.018, 9.4736],
 [77.0, -3.991, 9.0307, 4.4235, 8.8186],
 [2.0, -4.4966, 8.6451, 7.2195, 8.8427],
 [24.0, -9.7054, 2.6169, -8.0928, -1.9196],
 [21.0, -7.4122, 1.5275, -8.3242, -4.1458],
 [98.0, -5.5894, -7.6002, 8.1168, -7.4211],
 [90.0, -7.1167, -8.8758, 8.2362, -9.6175],
 [1.0, -8.3656, 0.4982, -8.1736, -3.9546],
 [55.0, -6.2775, 9.3774, 5.0661, 9.286],
 [79.0, -5.8847, 9.2257, 6.8134, 7.9073],
 [28.0, -5.7241, 9.1336, 5.5186, 10.4137],
 [59.0, -10.1777, 0.301, -7.6217, -1.1],
 [36.0, -1.378, 8.2518, 6.5502, 9.3715],
 [75.0, -9.0863, 1.1559, -9.0828, -3.854],
 [60.0, -4.5949, 7.455, 5.9945, 9.2185],
 [58.0, -8.4706, -1.6234, -8.592, -2.8902],
 [96.0, -6.1805, -6.0061, 10.2181, -8.9969],
 [5.0, -4.9771, -6.9474, 7.9472, -9.8077],
 [9.0, -7.5274, 0.8848, -9.3769, -4.8204],
 [19.0, -4.6626, 9.6735, 4.1894, 10.4952],
 [25.0, -7.0066, -0.4472, -7.3398, -2.6378],
 [89.0, -3.7616, 9.8488, 6.5067, 9.6453],
 [48.0, -9.3477, -1.062, -7.4979, -1.9145],
 [49.0, -4.3115, -8.4256, 9.1015, -8.4982],
 [4.0, -4.0015, 8.8107, 6.0736, 9.684],
 [39.0, -5.387, -6.6833, 8.6478, -8.8103],
 [7.0, -9.0952, 0.7753, -8.8316, -3.7971],
 [65.0, -3.0795, 8.8207, 3.6477, 9.7885],
 [6.0, -2.8154, 7.7916, 6.1721, 7.6763],
 [85.0, -5.9173, -7.1353, 10.06, -8.0897],
 [23.0, -8.6429, 0.1733, -6.7113, -3.6176],
 [92.0, -5.5822, -5.8273, 9.7297, -7.4166],
 [63.0, -7.966, 2.3012, -7.3726, -2.7827],
 [47.0, -5.02, 9.1048, 4.7077, 10.1588],
 [93.0, -6.4568, -6.7351, 8.8267, -9.0132],
 [17.0, -4.5776, -8.0577, 6.5296, -9.2236],
 [95.0, -6.5409, -7.9866, 7.6416, -8.2592],
 [87.0, -4.0147, 11.4525, 5.0276, 9.6162],
 [27.0, -5.1624, 8.6549, 3.4311, 7.398],
 [52.0, -5.0046, -7.8573, 6.6642, -10.6713],
 [72.0, -8.56, 1.7976, -7.1325, -1.9674],
 [84.0, -5.216, -7.9913, 9.359, -7.8164],
 [10.0, -5.8282, -9.0878, 6.8433, -8.4201],
 [16.0, -2.3015, 8.727, 5.2717, 9.5278],
 [97.0, -9.6662, 0.9506, -8.3869, -2.6574],
 [40.0, -5.3645, 8.0872, 5.4206, 9.6482],
 [22.0, -4.6078, 9.191, 4.126, 7.317],
 [26.0, -9.7312, 1.0649, -8.4407, -1.1115],
 [67.0, -6.3248, -7.9119, 7.4714, -7.1638],
 [12.0, -4.7958, -7.2116, 7.7597, -9.3911],
 [33.0, -3.5948, 10.2213, 5.5866, 10.006],
 [13.0, -5.5452, -8.1187, 7.6208, -6.299],
 [42.0, -7.9296, 2.4412, -8.9876, -4.1609],
 [78.0, -7.1028, -6.9573, 6.1918, -9.4078],
 [44.0, -6.8572, -6.2699, 8.7914, -8.903],
 [68.0, -6.5175, -5.8562, 7.4371, -7.5458],
 [15.0, -9.8349, 2.0064, -9.3495, -2.5746],
 [66.0, -8.2899, 2.6944, -9.2217, -2.9465],
 [34.0, -9.1886, 1.8473, -6.529, -4.4377],
 [8.0, -4.4465, -8.3548, 7.9425, -8.0293],
 [99.0, -4.1698, 10.0466, 4.7219, 12.305],
 [94.0, -7.9322, -6.7934, 8.2099, -7.5596],
 [31.0, -4.9652, 8.5723, 4.8761, 9.7298],
 [91.0, -6.0076, -6.7454, 8.5841, -9.7696],
 [83.0, -4.6956, 8.9423, 5.3885, 8.547],
 [0.0, -4.9223, -7.8024, 8.261, -6.8435],
 [71.0, -6.0826, -6.8641, 8.6312, -9.1768],
 [41.0, -8.5916, 0.8211, -8.0818, -2.9369],
 [54.0, -5.1231, -7.3902, 8.3228, -8.2079],
 [50.0, -4.5288, -6.4948, 6.5928, -7.8068],
 [38.0, -7.3848, -0.0794, -7.036, -3.0862],
 [73.0, -9.729, 1.6778, -7.1278, -3.0498],
 [32.0, -4.9726, 10.4308, 6.8067, 9.1145],
 [43.0, -6.3801, -9.0156, 7.1748, -9.0412],
 [30.0, -6.9992, 1.5587, -8.2811, -2.2334],
 [14.0, -4.8509, 8.4615, 4.4712, 11.2719],
 [20.0, -4.9018, 9.7526, 6.0428, 7.6077],
 [88.0, -5.8336, 11.5752, 5.6366, 9.9946],
 [11.0, -10.3773, -0.8476, -5.1332, -1.5591],
 [70.0, -9.1811, 1.6406, -9.4409, -1.3887]]