In [70]:
import pandas as pd
import numpy as np

In [71]:
columns = [i for i in range(3)]

In [72]:
input_1 = "input_1_db_1.txt"
input_2 = "input_1_db_2.txt"

data_1 = pd.read_csv(input_1, header=None)
data_2 = pd.read_csv(input_2, header=None)

In [73]:
data_1

       0        1        2
0   57.0  -7.4703  -0.3561
1   81.0  -4.6478   7.9474
2   69.0  -8.3768   0.4391
3   18.0  -4.9377   9.9903
4   62.0  -5.8751  -6.6054
..   ...      ...      ...
95  14.0  -4.8509   8.4615
96  20.0  -4.9018   9.7526
97  88.0  -5.8336  11.5752
98  11.0 -10.3773  -0.8476
99  70.0  -9.1811   1.6406

[100 rows x 3 columns]

In [74]:
data_2

       0       1        2
0    4.0  6.0736   9.6840
1   17.0  6.5296  -9.2236
2   72.0 -7.1325  -1.9674
3    8.0  7.9425  -8.0293
4   12.0  7.7597  -9.3911
..   ...     ...      ...
95  46.0  6.0180   9.4736
96  80.0 -9.2625  -1.9572
97  94.0  8.2099  -7.5596
98  99.0  4.7219  12.3050
99  66.0 -9.2217  -2.9465

[100 rows x 3 columns]

In [75]:
data = pd.merge(data_1, data_2, on=0)
data

       0      1_x      2_x     1_y      2_y
0   57.0  -7.4703  -0.3561 -8.4965  -0.3358
1   81.0  -4.6478   7.9474  5.1700  10.9990
2   69.0  -8.3768   0.4391 -9.8570  -1.6089
3   18.0  -4.9377   9.9903  5.1640  10.5001
4   62.0  -5.8751  -6.6054  7.0999  -8.5866
..   ...      ...      ...     ...      ...
95  14.0  -4.8509   8.4615  4.4712  11.2719
96  20.0  -4.9018   9.7526  6.0428   7.6077
97  88.0  -5.8336  11.5752  5.6366   9.9946
98  11.0 -10.3773  -0.8476 -5.1332  -1.5591
99  70.0  -9.1811   1.6406 -9.4409  -1.3887

[100 rows x 5 columns]

In [76]:
data.sort_index(inplace=True)
data

       0      1_x      2_x     1_y      2_y
0   57.0  -7.4703  -0.3561 -8.4965  -0.3358
1   81.0  -4.6478   7.9474  5.1700  10.9990
2   69.0  -8.3768   0.4391 -9.8570  -1.6089
3   18.0  -4.9377   9.9903  5.1640  10.5001
4   62.0  -5.8751  -6.6054  7.0999  -8.5866
..   ...      ...      ...     ...      ...
95  14.0  -4.8509   8.4615  4.4712  11.2719
96  20.0  -4.9018   9.7526  6.0428   7.6077
97  88.0  -5.8336  11.5752  5.6366   9.9946
98  11.0 -10.3773  -0.8476 -5.1332  -1.5591
99  70.0  -9.1811   1.6406 -9.4409  -1.3887

[100 rows x 5 columns]

In [77]:
dataArr = data.to_numpy()
dataArr

array([[ 5.70000e+01, -7.47030e+00, -3.56100e-01, -8.49650e+00,
        -3.35800e-01],
       [ 8.10000e+01, -4.64780e+00,  7.94740e+00,  5.17000e+00,
         1.09990e+01],
       [ 6.90000e+01, -8.37680e+00,  4.39100e-01, -9.85700e+00,
        -1.60890e+00],
       [ 1.80000e+01, -4.93770e+00,  9.99030e+00,  5.16400e+00,
         1.05001e+01],
       [ 6.20000e+01, -5.87510e+00, -6.60540e+00,  7.09990e+00,
        -8.58660e+00],
       [ 7.60000e+01, -8.75030e+00,  2.28620e+00, -7.41600e+00,
        -3.36660e+00],
       [ 8.20000e+01, -5.05600e+00,  1.10115e+01,  4.70070e+00,
         9.65140e+00],
       [ 4.50000e+01, -5.71910e+00, -7.61180e+00,  1.01312e+01,
        -8.36140e+00],
       [ 6.40000e+01, -7.19860e+00,  2.37640e+00, -9.42230e+00,
        -3.64860e+00],
       [ 8.00000e+01, -8.79490e+00, -6.33000e-02, -9.26250e+00,
        -1.95720e+00],
       [ 3.50000e+01, -6.64980e+00, -6.59220e+00,  7.13990e+00,
        -8.76440e+00],
       [ 5.10000e+01, -5.45770e+00, -7.39100e+00,  7.02480e+00,
        -6.91810e+00],
       [ 3.70000e+01, -7.85470e+00,  8.79700e-01, -8.24400e+00,
        -2.37050e+00],
       [ 8.60000e+01, -5.37020e+00, -9.23160e+00,  8.08220e+00,
        -6.88470e+00],
       [ 7.40000e+01, -4.95420e+00,  1.07517e+01,  4.95880e+00,
         9.21680e+00],
       [ 3.00000e+00, -4.86750e+00,  8.92910e+00,  5.08650e+00,
         9.58710e+00],
       [ 5.60000e+01, -3.27640e+00,  7.63290e+00,  4.84070e+00,
         9.30060e+00],
       [ 2.90000e+01, -7.22970e+00,  1.24430e+00, -7.18670e+00,
        -3.24490e+00],
       [ 6.10000e+01, -1.02582e+01, -1.69440e+00, -6.25280e+00,
        -2.58930e+00],
       [ 5.30000e+01, -3.89230e+00,  9.73110e+00,  3.97960e+00,
         7.90650e+00],
       [ 4.60000e+01, -5.04580e+00,  9.20210e+00,  6.01800e+00,
         9.47360e+00],
       [ 7.70000e+01, -3.99100e+00,  9.03070e+00,  4.42350e+00,
         8.81860e+00],
       [ 2.00000e+00, -4.49660e+00,  8.64510e+00,  7.21950e+00,
         8.84270e+00],
       [ 2.40000e+01, -9.70540e+00,  2.61690e+00, -8.09280e+00,
        -1.91960e+00],
       [ 2.10000e+01, -7.41220e+00,  1.52750e+00, -8.32420e+00,
        -4.14580e+00],
       [ 9.80000e+01, -5.58940e+00, -7.60020e+00,  8.11680e+00,
        -7.42110e+00],
       [ 9.00000e+01, -7.11670e+00, -8.87580e+00,  8.23620e+00,
        -9.61750e+00],
       [ 1.00000e+00, -8.36560e+00,  4.98200e-01, -8.17360e+00,
        -3.95460e+00],
       [ 5.50000e+01, -6.27750e+00,  9.37740e+00,  5.06610e+00,
         9.28600e+00],
       [ 7.90000e+01, -5.88470e+00,  9.22570e+00,  6.81340e+00,
         7.90730e+00],
       [ 2.80000e+01, -5.72410e+00,  9.13360e+00,  5.51860e+00,
         1.04137e+01],
       [ 5.90000e+01, -1.01777e+01,  3.01000e-01, -7.62170e+00,
        -1.10000e+00],
       [ 3.60000e+01, -1.37800e+00,  8.25180e+00,  6.55020e+00,
         9.37150e+00],
       [ 7.50000e+01, -9.08630e+00,  1.15590e+00, -9.08280e+00,
        -3.85400e+00],
       [ 6.00000e+01, -4.59490e+00,  7.45500e+00,  5.99450e+00,
         9.21850e+00],
       [ 5.80000e+01, -8.47060e+00, -1.62340e+00, -8.59200e+00,
        -2.89020e+00],
       [ 9.60000e+01, -6.18050e+00, -6.00610e+00,  1.02181e+01,
        -8.99690e+00],
       [ 5.00000e+00, -4.97710e+00, -6.94740e+00,  7.94720e+00,
        -9.80770e+00],
       [ 9.00000e+00, -7.52740e+00,  8.84800e-01, -9.37690e+00,
        -4.82040e+00],
       [ 1.90000e+01, -4.66260e+00,  9.67350e+00,  4.18940e+00,
         1.04952e+01],
       [ 2.50000e+01, -7.00660e+00, -4.47200e-01, -7.33980e+00,
        -2.63780e+00],
       [ 8.90000e+01, -3.76160e+00,  9.84880e+00,  6.50670e+00,
         9.64530e+00],
       [ 4.80000e+01, -9.34770e+00, -1.06200e+00, -7.49790e+00,
        -1.91450e+00],
       [ 4.90000e+01, -4.31150e+00, -8.42560e+00,  9.10150e+00,
        -8.49820e+00],
       [ 4.00000e+00, -4.00150e+00,  8.81070e+00,  6.07360e+00,
         9.68400e+00],
       [ 3.90000e+01, -5.38700e+00, -6.68330e+00,  8.64780e+00,
        -8.81030e+00],
       [ 7.00000e+00, -9.09520e+00,  7.75300e-01, -8.83160e+00,
        -3.79710e+00],
       [ 6.50000e+01, -3.07950e+00,  8.82070e+00,  3.64770e+00,
         9.78850e+00],
       [ 6.00000e+00, -2.81540e+00,  7.79160e+00,  6.17210e+00,
         7.67630e+00],
       [ 8.50000e+01, -5.91730e+00, -7.13530e+00,  1.00600e+01,
        -8.08970e+00],
       [ 2.30000e+01, -8.64290e+00,  1.73300e-01, -6.71130e+00,
        -3.61760e+00],
       [ 9.20000e+01, -5.58220e+00, -5.82730e+00,  9.72970e+00,
        -7.41660e+00],
       [ 6.30000e+01, -7.96600e+00,  2.30120e+00, -7.37260e+00,
        -2.78270e+00],
       [ 4.70000e+01, -5.02000e+00,  9.10480e+00,  4.70770e+00,
         1.01588e+01],
       [ 9.30000e+01, -6.45680e+00, -6.73510e+00,  8.82670e+00,
        -9.01320e+00],
       [ 1.70000e+01, -4.57760e+00, -8.05770e+00,  6.52960e+00,
        -9.22360e+00],
       [ 9.50000e+01, -6.54090e+00, -7.98660e+00,  7.64160e+00,
        -8.25920e+00],
       [ 8.70000e+01, -4.01470e+00,  1.14525e+01,  5.02760e+00,
         9.61620e+00],
       [ 2.70000e+01, -5.16240e+00,  8.65490e+00,  3.43110e+00,
         7.39800e+00],
       [ 5.20000e+01, -5.00460e+00, -7.85730e+00,  6.66420e+00,
        -1.06713e+01],
       [ 7.20000e+01, -8.56000e+00,  1.79760e+00, -7.13250e+00,
        -1.96740e+00],
       [ 8.40000e+01, -5.21600e+00, -7.99130e+00,  9.35900e+00,
        -7.81640e+00],
       [ 1.00000e+01, -5.82820e+00, -9.08780e+00,  6.84330e+00,
        -8.42010e+00],
       [ 1.60000e+01, -2.30150e+00,  8.72700e+00,  5.27170e+00,
         9.52780e+00],
       [ 9.70000e+01, -9.66620e+00,  9.50600e-01, -8.38690e+00,
        -2.65740e+00],
       [ 4.00000e+01, -5.36450e+00,  8.08720e+00,  5.42060e+00,
         9.64820e+00],
       [ 2.20000e+01, -4.60780e+00,  9.19100e+00,  4.12600e+00,
         7.31700e+00],
       [ 2.60000e+01, -9.73120e+00,  1.06490e+00, -8.44070e+00,
        -1.11150e+00],
       [ 6.70000e+01, -6.32480e+00, -7.91190e+00,  7.47140e+00,
        -7.16380e+00],
       [ 1.20000e+01, -4.79580e+00, -7.21160e+00,  7.75970e+00,
        -9.39110e+00],
       [ 3.30000e+01, -3.59480e+00,  1.02213e+01,  5.58660e+00,
         1.00060e+01],
       [ 1.30000e+01, -5.54520e+00, -8.11870e+00,  7.62080e+00,
        -6.29900e+00],
       [ 4.20000e+01, -7.92960e+00,  2.44120e+00, -8.98760e+00,
        -4.16090e+00],
       [ 7.80000e+01, -7.10280e+00, -6.95730e+00,  6.19180e+00,
        -9.40780e+00],
       [ 4.40000e+01, -6.85720e+00, -6.26990e+00,  8.79140e+00,
        -8.90300e+00],
       [ 6.80000e+01, -6.51750e+00, -5.85620e+00,  7.43710e+00,
        -7.54580e+00],
       [ 1.50000e+01, -9.83490e+00,  2.00640e+00, -9.34950e+00,
        -2.57460e+00],
       [ 6.60000e+01, -8.28990e+00,  2.69440e+00, -9.22170e+00,
        -2.94650e+00],
       [ 3.40000e+01, -9.18860e+00,  1.84730e+00, -6.52900e+00,
        -4.43770e+00],
       [ 8.00000e+00, -4.44650e+00, -8.35480e+00,  7.94250e+00,
        -8.02930e+00],
       [ 9.90000e+01, -4.16980e+00,  1.00466e+01,  4.72190e+00,
         1.23050e+01],
       [ 9.40000e+01, -7.93220e+00, -6.79340e+00,  8.20990e+00,
        -7.55960e+00],
       [ 3.10000e+01, -4.96520e+00,  8.57230e+00,  4.87610e+00,
         9.72980e+00],
       [ 9.10000e+01, -6.00760e+00, -6.74540e+00,  8.58410e+00,
        -9.76960e+00],
       [ 8.30000e+01, -4.69560e+00,  8.94230e+00,  5.38850e+00,
         8.54700e+00],
       [ 0.00000e+00, -4.92230e+00, -7.80240e+00,  8.26100e+00,
        -6.84350e+00],
       [ 7.10000e+01, -6.08260e+00, -6.86410e+00,  8.63120e+00,
        -9.17680e+00],
       [ 4.10000e+01, -8.59160e+00,  8.21100e-01, -8.08180e+00,
        -2.93690e+00],
       [ 5.40000e+01, -5.12310e+00, -7.39020e+00,  8.32280e+00,
        -8.20790e+00],
       [ 5.00000e+01, -4.52880e+00, -6.49480e+00,  6.59280e+00,
        -7.80680e+00],
       [ 3.80000e+01, -7.38480e+00, -7.94000e-02, -7.03600e+00,
        -3.08620e+00],
       [ 7.30000e+01, -9.72900e+00,  1.67780e+00, -7.12780e+00,
        -3.04980e+00],
       [ 3.20000e+01, -4.97260e+00,  1.04308e+01,  6.80670e+00,
         9.11450e+00],
       [ 4.30000e+01, -6.38010e+00, -9.01560e+00,  7.17480e+00,
        -9.04120e+00],
       [ 3.00000e+01, -6.99920e+00,  1.55870e+00, -8.28110e+00,
        -2.23340e+00],
       [ 1.40000e+01, -4.85090e+00,  8.46150e+00,  4.47120e+00,
         1.12719e+01],
       [ 2.00000e+01, -4.90180e+00,  9.75260e+00,  6.04280e+00,
         7.60770e+00],
       [ 8.80000e+01, -5.83360e+00,  1.15752e+01,  5.63660e+00,
         9.99460e+00],
       [ 1.10000e+01, -1.03773e+01, -8.47600e-01, -5.13320e+00,
        -1.55910e+00],
       [ 7.00000e+01, -9.18110e+00,  1.64060e+00, -9.44090e+00,
        -1.38870e+00]])

In [78]:
data.loc[0].tolist()

[57.0, -7.4703, -0.3561, -8.4965, -0.3358]

In [79]:
dataArr[0]

array([57.    , -7.4703, -0.3561, -8.4965, -0.3358])

In [80]:
d = len(data.columns) - 1

In [81]:
data.set_index(0, inplace=True)

In [82]:
data

          1_x      2_x     1_y      2_y
0
57.0  -7.4703  -0.3561 -8.4965  -0.3358
81.0  -4.6478   7.9474  5.1700  10.9990
69.0  -8.3768   0.4391 -9.8570  -1.6089
18.0  -4.9377   9.9903  5.1640  10.5001
62.0  -5.8751  -6.6054  7.0999  -8.5866
...       ...      ...     ...      ...
14.0  -4.8509   8.4615  4.4712  11.2719
20.0  -4.9018   9.7526  6.0428   7.6077
88.0  -5.8336  11.5752  5.6366   9.9946
11.0 -10.3773  -0.8476 -5.1332  -1.5591
70.0  -9.1811   1.6406 -9.4409  -1.3887

[100 rows x 4 columns]

In [92]:
data.sort_index()

         1_x      2_x      1_y      2_y
0
0.0  -4.9223  -7.8024   8.2610  -6.8435
1.0  -8.3656   0.4982  -8.1736  -3.9546
2.0  -4.4966   8.6451   7.2195   8.8427
3.0  -4.8675   8.9291   5.0865   9.5871
4.0  -4.0015   8.8107   6.0736   9.6840
...      ...      ...      ...      ...
95.0 -6.5409  -7.9866   7.6416  -8.2592
96.0 -6.1805  -6.0061  10.2181  -8.9969
97.0 -9.6662   0.9506  -8.3869  -2.6574
98.0 -5.5894  -7.6002   8.1168  -7.4211
99.0 -4.1698  10.0466   4.7219  12.3050

[100 rows x 4 columns]

In [83]:
data.values.tolist()

[[-7.4703, -0.3561, -8.4965, -0.3358],
 [-4.6478, 7.9474, 5.17, 10.999],
 [-8.3768, 0.4391, -9.857, -1.6089],
 [-4.9377, 9.9903, 5.164, 10.5001],
 [-5.8751, -6.6054, 7.0999, -8.5866],
 [-8.7503, 2.2862, -7.416, -3.3666],
 [-5.056, 11.0115, 4.7007, 9.6514],
 [-5.7191, -7.6118, 10.1312, -8.3614],
 [-7.1986, 2.3764, -9.4223, -3.6486],
 [-8.7949, -0.0633, -9.2625, -1.9572],
 [-6.6498, -6.5922, 7.1399, -8.7644],
 [-5.4577, -7.391, 7.0248, -6.9181],
 [-7.8547, 0.8797, -8.244, -2.3705],
 [-5.3702, -9.2316, 8.0822, -6.8847],
 [-4.9542, 10.7517, 4.9588, 9.2168],
 [-4.8675, 8.9291, 5.0865, 9.5871],
 [-3.2764, 7.6329, 4.8407, 9.3006],
 [-7.2297, 1.2443, -7.1867, -3.2449],
 [-10.2582, -1.6944, -6.2528, -2.5893],
 [-3.8923, 9.7311, 3.9796, 7.9065],
 [-5.0458, 9.2021, 6.018, 9.4736],
 [-3.991, 9.0307, 4.4235, 8.8186],
 [-4.4966, 8.6451, 7.2195, 8.8427],
 [-9.7054, 2.6169, -8.0928, -1.9196],
 [-7.4122, 1.5275, -8.3242, -4.1458],
 [-5.5894, -7.6002, 8.1168, -7.4211],
 [-7.1167, -8.8758, 8.2362, -9.6175],
 [-8.3656, 0.4982, -8.1736, -3.9546],
 [-6.2775, 9.3774, 5.0661, 9.286],
 [-5.8847, 9.2257, 6.8134, 7.9073],
 [-5.7241, 9.1336, 5.5186, 10.4137],
 [-10.1777, 0.301, -7.6217, -1.1],
 [-1.378, 8.2518, 6.5502, 9.3715],
 [-9.0863, 1.1559, -9.0828, -3.854],
 [-4.5949, 7.455, 5.9945, 9.2185],
 [-8.4706, -1.6234, -8.592, -2.8902],
 [-6.1805, -6.0061, 10.2181, -8.9969],
 [-4.9771, -6.9474, 7.9472, -9.8077],
 [-7.5274, 0.8848, -9.3769, -4.8204],
 [-4.6626, 9.6735, 4.1894, 10.4952],
 [-7.0066, -0.4472, -7.3398, -2.6378],
 [-3.7616, 9.8488, 6.5067, 9.6453],
 [-9.3477, -1.062, -7.4979, -1.9145],
 [-4.3115, -8.4256, 9.1015, -8.4982],
 [-4.0015, 8.8107, 6.0736, 9.684],
 [-5.387, -6.6833, 8.6478, -8.8103],
 [-9.0952, 0.7753, -8.8316, -3.7971],
 [-3.0795, 8.8207, 3.6477, 9.7885],
 [-2.8154, 7.7916, 6.1721, 7.6763],
 [-5.9173, -7.1353, 10.06, -8.0897],
 [-8.6429, 0.1733, -6.7113, -3.6176],
 [-5.5822, -5.8273, 9.7297, -7.4166],
 [-7.966, 2.3012, -7.3726, -2.7827],
 [-5.02, 9.1048, 4.7077, 10.1588],
 [-6.4568, -6.7351, 8.8267, -9.0132],
 [-4.5776, -8.0577, 6.5296, -9.2236],
 [-6.5409, -7.9866, 7.6416, -8.2592],
 [-4.0147, 11.4525, 5.0276, 9.6162],
 [-5.1624, 8.6549, 3.4311, 7.398],
 [-5.0046, -7.8573, 6.6642, -10.6713],
 [-8.56, 1.7976, -7.1325, -1.9674],
 [-5.216, -7.9913, 9.359, -7.8164],
 [-5.8282, -9.0878, 6.8433, -8.4201],
 [-2.3015, 8.727, 5.2717, 9.5278],
 [-9.6662, 0.9506, -8.3869, -2.6574],
 [-5.3645, 8.0872, 5.4206, 9.6482],
 [-4.6078, 9.191, 4.126, 7.317],
 [-9.7312, 1.0649, -8.4407, -1.1115],
 [-6.3248, -7.9119, 7.4714, -7.1638],
 [-4.7958, -7.2116, 7.7597, -9.3911],
 [-3.5948, 10.2213, 5.5866, 10.006],
 [-5.5452, -8.1187, 7.6208, -6.299],
 [-7.9296, 2.4412, -8.9876, -4.1609],
 [-7.1028, -6.9573, 6.1918, -9.4078],
 [-6.8572, -6.2699, 8.7914, -8.903],
 [-6.5175, -5.8562, 7.4371, -7.5458],
 [-9.8349, 2.0064, -9.3495, -2.5746],
 [-8.2899, 2.6944, -9.2217, -2.9465],
 [-9.1886, 1.8473, -6.529, -4.4377],
 [-4.4465, -8.3548, 7.9425, -8.0293],
 [-4.1698, 10.0466, 4.7219, 12.305],
 [-7.9322, -6.7934, 8.2099, -7.5596],
 [-4.9652, 8.5723, 4.8761, 9.7298],
 [-6.0076, -6.7454, 8.5841, -9.7696],
 [-4.6956, 8.9423, 5.3885, 8.547],
 [-4.9223, -7.8024, 8.261, -6.8435],
 [-6.0826, -6.8641, 8.6312, -9.1768],
 [-8.5916, 0.8211, -8.0818, -2.9369],
 [-5.1231, -7.3902, 8.3228, -8.2079],
 [-4.5288, -6.4948, 6.5928, -7.8068],
 [-7.3848, -0.0794, -7.036, -3.0862],
 [-9.729, 1.6778, -7.1278, -3.0498],
 [-4.9726, 10.4308, 6.8067, 9.1145],
 [-6.3801, -9.0156, 7.1748, -9.0412],
 [-6.9992, 1.5587, -8.2811, -2.2334],
 [-4.8509, 8.4615, 4.4712, 11.2719],
 [-4.9018, 9.7526, 6.0428, 7.6077],
 [-5.8336, 11.5752, 5.6366, 9.9946],
 [-10.3773, -0.8476, -5.1332, -1.5591],
 [-9.1811, 1.6406, -9.4409, -1.3887]]

In [84]:
data.loc[57].tolist()

[-7.4703, -0.3561, -8.4965, -0.3358]

In [85]:
data.shape

(100, 4)

In [86]:
i = np.random.randint(10)
i

0

In [87]:
data.loc[0].tolist()[1:]

[-7.8024, 8.261, -6.8435]

In [88]:
vec1 = data.loc[0].tolist()[1:]
vec2 = data.loc[1].tolist()[1:]

sum(vec1)

-6.3849

In [89]:
np.random.choice(5, p = [0.2, 0.4, 0, 0.2, 0.2])

3

In [90]:
data.values.tolist()

[[-7.4703, -0.3561, -8.4965, -0.3358],
 [-4.6478, 7.9474, 5.17, 10.999],
 [-8.3768, 0.4391, -9.857, -1.6089],
 [-4.9377, 9.9903, 5.164, 10.5001],
 [-5.8751, -6.6054, 7.0999, -8.5866],
 [-8.7503, 2.2862, -7.416, -3.3666],
 [-5.056, 11.0115, 4.7007, 9.6514],
 [-5.7191, -7.6118, 10.1312, -8.3614],
 [-7.1986, 2.3764, -9.4223, -3.6486],
 [-8.7949, -0.0633, -9.2625, -1.9572],
 [-6.6498, -6.5922, 7.1399, -8.7644],
 [-5.4577, -7.391, 7.0248, -6.9181],
 [-7.8547, 0.8797, -8.244, -2.3705],
 [-5.3702, -9.2316, 8.0822, -6.8847],
 [-4.9542, 10.7517, 4.9588, 9.2168],
 [-4.8675, 8.9291, 5.0865, 9.5871],
 [-3.2764, 7.6329, 4.8407, 9.3006],
 [-7.2297, 1.2443, -7.1867, -3.2449],
 [-10.2582, -1.6944, -6.2528, -2.5893],
 [-3.8923, 9.7311, 3.9796, 7.9065],
 [-5.0458, 9.2021, 6.018, 9.4736],
 [-3.991, 9.0307, 4.4235, 8.8186],
 [-4.4966, 8.6451, 7.2195, 8.8427],
 [-9.7054, 2.6169, -8.0928, -1.9196],
 [-7.4122, 1.5275, -8.3242, -4.1458],
 [-5.5894, -7.6002, 8.1168, -7.4211],
 [-7.1167, -8.8758, 8.2362, -9.6175],
 [-8.3656, 0.4982, -8.1736, -3.9546],
 [-6.2775, 9.3774, 5.0661, 9.286],
 [-5.8847, 9.2257, 6.8134, 7.9073],
 [-5.7241, 9.1336, 5.5186, 10.4137],
 [-10.1777, 0.301, -7.6217, -1.1],
 [-1.378, 8.2518, 6.5502, 9.3715],
 [-9.0863, 1.1559, -9.0828, -3.854],
 [-4.5949, 7.455, 5.9945, 9.2185],
 [-8.4706, -1.6234, -8.592, -2.8902],
 [-6.1805, -6.0061, 10.2181, -8.9969],
 [-4.9771, -6.9474, 7.9472, -9.8077],
 [-7.5274, 0.8848, -9.3769, -4.8204],
 [-4.6626, 9.6735, 4.1894, 10.4952],
 [-7.0066, -0.4472, -7.3398, -2.6378],
 [-3.7616, 9.8488, 6.5067, 9.6453],
 [-9.3477, -1.062, -7.4979, -1.9145],
 [-4.3115, -8.4256, 9.1015, -8.4982],
 [-4.0015, 8.8107, 6.0736, 9.684],
 [-5.387, -6.6833, 8.6478, -8.8103],
 [-9.0952, 0.7753, -8.8316, -3.7971],
 [-3.0795, 8.8207, 3.6477, 9.7885],
 [-2.8154, 7.7916, 6.1721, 7.6763],
 [-5.9173, -7.1353, 10.06, -8.0897],
 [-8.6429, 0.1733, -6.7113, -3.6176],
 [-5.5822, -5.8273, 9.7297, -7.4166],
 [-7.966, 2.3012, -7.3726, -2.7827],
 [-5.02, 9.1048, 4.7077, 10.1588],
 [-6.4568, -6.7351, 8.8267, -9.0132],
 [-4.5776, -8.0577, 6.5296, -9.2236],
 [-6.5409, -7.9866, 7.6416, -8.2592],
 [-4.0147, 11.4525, 5.0276, 9.6162],
 [-5.1624, 8.6549, 3.4311, 7.398],
 [-5.0046, -7.8573, 6.6642, -10.6713],
 [-8.56, 1.7976, -7.1325, -1.9674],
 [-5.216, -7.9913, 9.359, -7.8164],
 [-5.8282, -9.0878, 6.8433, -8.4201],
 [-2.3015, 8.727, 5.2717, 9.5278],
 [-9.6662, 0.9506, -8.3869, -2.6574],
 [-5.3645, 8.0872, 5.4206, 9.6482],
 [-4.6078, 9.191, 4.126, 7.317],
 [-9.7312, 1.0649, -8.4407, -1.1115],
 [-6.3248, -7.9119, 7.4714, -7.1638],
 [-4.7958, -7.2116, 7.7597, -9.3911],
 [-3.5948, 10.2213, 5.5866, 10.006],
 [-5.5452, -8.1187, 7.6208, -6.299],
 [-7.9296, 2.4412, -8.9876, -4.1609],
 [-7.1028, -6.9573, 6.1918, -9.4078],
 [-6.8572, -6.2699, 8.7914, -8.903],
 [-6.5175, -5.8562, 7.4371, -7.5458],
 [-9.8349, 2.0064, -9.3495, -2.5746],
 [-8.2899, 2.6944, -9.2217, -2.9465],
 [-9.1886, 1.8473, -6.529, -4.4377],
 [-4.4465, -8.3548, 7.9425, -8.0293],
 [-4.1698, 10.0466, 4.7219, 12.305],
 [-7.9322, -6.7934, 8.2099, -7.5596],
 [-4.9652, 8.5723, 4.8761, 9.7298],
 [-6.0076, -6.7454, 8.5841, -9.7696],
 [-4.6956, 8.9423, 5.3885, 8.547],
 [-4.9223, -7.8024, 8.261, -6.8435],
 [-6.0826, -6.8641, 8.6312, -9.1768],
 [-8.5916, 0.8211, -8.0818, -2.9369],
 [-5.1231, -7.3902, 8.3228, -8.2079],
 [-4.5288, -6.4948, 6.5928, -7.8068],
 [-7.3848, -0.0794, -7.036, -3.0862],
 [-9.729, 1.6778, -7.1278, -3.0498],
 [-4.9726, 10.4308, 6.8067, 9.1145],
 [-6.3801, -9.0156, 7.1748, -9.0412],
 [-6.9992, 1.5587, -8.2811, -2.2334],
 [-4.8509, 8.4615, 4.4712, 11.2719],
 [-4.9018, 9.7526, 6.0428, 7.6077],
 [-5.8336, 11.5752, 5.6366, 9.9946],
 [-10.3773, -0.8476, -5.1332, -1.5591],
 [-9.1811, 1.6406, -9.4409, -1.3887]]

In [91]:
np.random.choice(5)

4